@tailwind base;
@tailwind components;
@tailwind utilities;
.overflow{
    @apply text-textsColor-texts;
    overflow-y: scroll;
}
.overflow::-webkit-scrollbar{
    @apply text-textsColor-texts;
    width: 3px;
}
.overflow::-webkit-scrollbar-thumb{
    @apply text-textsColor-texts;
    background-color: var(--text-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.overflow::-webkit-scrollbar-track{
    @apply text-textsColor-texts;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.shadow-for-circle1{
    box-shadow: 0px 0px 200px -20px #1481FE;
    border-radius: 150px;
    filter:drop-shadow(0px 0px 10px #1481FE);
}
.word-spacing{
    @apply text-white;
    word-spacing: 3px;
}
.glass-effect{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 0.25px solid #727272;
}
.bg-1{
    background-image: url('./Icons/pngIcons/countereis/Europe-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}